In [1]:
import pandas as pd
import mysql.connector as mc
import mysql

In [4]:
df_record = pd.read_csv('230205_watch_record.csv')
df_record.drop('Unnamed: 0', axis=1, inplace=True)
df_record.head()

,title,category,running_time,watch_date,watch_time,watched_YN
0,이직해서 절대 하면 안되는 것,노하우/스타일,12:32,2023-02-05,오전 12:09,0.0
1,원조의 품격 | 농심 vs. T1 게임2 하이라이트 | 02.04 | 2023 LC...,게임,11:43,2023-02-04,오후 9:33,1.0
2,AI가 견적낸 컴퓨터를 조립해봤는데.. 갓성비 실화입니까?!ㄷㄷ 'ChatGPT로 ...,과학기술,9:05,2023-02-04,오후 9:26,1.0
3,초가스 키우기 | 디알엑스 vs. 한화생명 게임1 하이라이트 | 02.04 | 20...,게임,12:33,2023-02-04,오후 8:19,1.0
4,신궁 | 농심 vs. T1 게임1 하이라이트 | 02.04 | 2023 LCK 스프...,게임,9:38,2023-02-04,오후 8:10,1.0

In [5]:
df_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         330 non-null    object
 1   category      330 non-null    object
 2   running_time  330 non-null    object
 3   watch_date    330 non-null    object
 4   watch_time    330 non-null    object
 5   watched_YN    327 non-null    float64
dtypes: float64(1), object(5)
memory usage: 15.6+ KB