### MYSQL_Connector

In [ ]:
import mysql.connector as mc
import pandas as pd

In [24]:
test = mc.connect(
    host="localhost",
    user="root",
    passwd="202011",
    database="side1_youtube")

cursor = test.cursor(buffered=True)

In [29]:
def to_dataframe(query, cursor=cursor):
    cursor.execute(query)
    try:
        cols = cursor.column_names
        result = cursor.fetchall()
    except:
        pass
    return pd.DataFrame(columns=cols, data=result)

In [32]:
to_dataframe('desc jan;')

          Field            Type Null Key Default Extra
0            id          b'int'  YES        None
1         title  b'varchar(64)'  YES        None
2           cat  b'varchar(16)'  YES        None
3  running_time   b'varchar(8)'  YES        None
4    watch_date         b'date'  YES        None
5     watch_day   b'varchar(4)'  YES        None
6    watch_time         b'time'  YES        None
7    watched_YN   b'tinyint(1)'  YES        None

In [33]:
df_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         330 non-null    object
 1   category      330 non-null    object
 2   running_time  330 non-null    object
 3   watch_date    330 non-null    object
 4   watch_time    330 non-null    object
 5   watched_YN    327 non-null    float64
dtypes: float64(1), object(5)
memory usage: 15.6+ KB